@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --backgroundSecondary: #111111;
  --borders: #1e1e1e;
  --greenSpan: #c8f55a;
  --textSecondary: #555555;
  --lightGray: #1e1e1e;
  --GrayEdges: #161616;
  --textPlaceholder: #747474;
  --textInput: #f0ede6ce;
  --textTitles: #f2f2f2;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-syne: "Syne", sans-serif;
  --font-syne-mono: "Syne Mono", monospace;
  --breakpoint-xs: 480px;
  --font-inter: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-syne);
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

strong {
  font-family: "inter";
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}

/* Scrollbar personalizada */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--GrayEdges);
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--greenSpan);
}
